.product-information {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.images-container {
    position: relative;
    width: 43%;
    height: 100%;
}

.image {
    width: 75%;
    height: 65%;
    top: 7%;
    left: 2%;
    position: relative;
}

.shade-retailer-container {
    position: relative;
    width: 57%;
    height: 100%;
}

.product-heading {
    position: relative;
    top: 8.5%;
    left: -0.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.5vb;
    text-align: left;
}

.product-price {
    position: relative;
    top: 12%;
    left: -0.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.75vb;
    text-align: left;
}

.shades {
    position: relative;
    top: 17%;
    left: -0.5%;
    width: 39%;
    height: 8%;
    background-color: #f4f2e8;
}

.shade-text,
.retailer-text {
    position: absolute;
    top: 17%;
    left: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.25vb;
}

.list-container {
    display: grid;
    grid-template-columns: 43.25% 45%;
    position: relative;
    top: 9.5%;
    left: -1.25%;
    width: 90%;
    gap: 7.25%;
    padding: 1vb;
}

.shade-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0%;
    position: relative;
    top: -4.5%;
    left: -1.5%;
    width: 97%;
    height: 100%;
    padding: 1vb;
}

.shade-item {
    background-color: #f4f2e8;
    border: 0.15vb solid #ffc9b9;
    outline: #d1d1d1;
    width: 101%;
    height: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vb;
    text-align: left;
    padding: 0.25vb;
}

.retailers {
    position: relative;
    top: 9%;
    left: 45%;
    width: 45%;
    height: 8%;
    background-color: #f4f2e8;
}

.retailer-list {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: -4.5%;
    left: -1.75%;
    width: 110%;
    gap: 0.8vw;
    padding: 1vb;
}

.retailer-item {
    background-color: #f4f2e8;
    border: 0.15vb solid #ffc9b9;
    outline: #d1d1d1;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vb;
    text-align: left;
    padding: 0.25vb;
}